// Place all the styles related to the screenshots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-size: 10em;
    margin-bottom: 12px;
}

.button-bar {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: #000000;
    height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    a {
        color: #ffffff;
        padding: 10px;
        font-size: 1.5em;
    }
}

.grid-daddy {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 300px 300px 300px;
    justify-content: center;
    grid-gap: 15px;
    margin-bottom: 65px;
    max-width: 100%;
}

.grid-daddy .grid-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    .img {
        width: 300px;
        height: 300px;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        padding: 0;
    }
}

.dropzone {
    width: 45%;
    border: none;
    margin: 0 auto;
    font-size: 3em;
    margin-bottom: 100px;
    margin-top: 50px;
    -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    padding: 55px;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    height: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 20px solid #141B41;
    background-color: #D81E5B;
    .dz-preview .dz-image {
        width: 100px!important;
        height: 100px!important;
        border-radius: 0!important;
    }
    .dz-preview.dz-image-preview {
        width: 100px;
        height: 100px;
        background-color: transparent!important;
        border-radius: 0!important;
    }
    .dz-message {
        text-align: left;
        margin: 0;
        margin-left: 0.5em;
        display: flex;
        align-items: center;
        span {
            display: block;
            font-size: 0.5em;
            color: #ffffff;
        }
        span:after {
            white-space: pre;
            font-size: 14px;
            color: #fe9c81;
            content: "\A Files like screenshots or mockups";
            margin-top: -15px;
            display: block;
        }
    }
}